/*****************************************************

    全ての要素をリセット
    各ブラウザの表示を統一するための設定です

*****************************************************/

html{overflow-y:scroll;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;}
table{ border-collapse:collapse;border-spacing:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;text-align:left;font-weight:normal;}
img,abbr,acronym,fieldset{border:0;}
li{list-style-type:none;}
img{vertical-align:middle;}
.line{font-size:1px;line-height:1px;}/*--- default */
body{
    background:#fff;
    color:#333;
    font-size:15px;
    font-family:'Muli', Arial, Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", sans-serif;
    line-height:1.6;
    /*text-align:center;*/
    position:relative;
    word-break: break-all;
}
td,th{
    font-size:15px;
}
table{
    border-collapse:collapse;
}
pre{
    font-size:15px;
    font-family:'Muli', Arial, Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", sans-serif;
    line-height:1.4;
}
input,select{
    font-family:'Muli', Arial, Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", sans-serif;
}

/*******************************
  CSS変数
*******************************/

:root {
  --inner-width: 1000px;
  --color-primary: #C10A00;

  --header-height: 84px;
}

/*****************************************************

    基本設定、リンクカラーなど

*****************************************************/

#makebanner{
    width:100%;
}
.container{
    margin-left:auto;
    margin-right:auto;
    max-width:1200px;
}
a:link,a:visited,a:active{
    color:#333;
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}
.clear:after{
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
* html .clear            { zoom:1; } /* IE6 */
*:first-child+html .clear { zoom:1; } /* IE7 */

a:hover img,.btn:hover,#M_basketClosedBox a:hover,.icon-mypage a:hover,.icon-logout a:hover,.soldout:not(:hover){
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    opacity:0.7;
	text-decoration:none;
    -webkit-transition:0.3s ease-in-out;
    -moz-transition:0.3s ease-in-out;
    -o-transition:0.3s ease-in-out;
    transition:0.3s ease-in-out;
}
.btn{
    display:inline-block;
    margin:16px auto;   
    background:#E60013;
    color:#fff!important;
    padding:14px 32px;
	text-align:center;
    border-radius:50px; 
    -webkit-border-radius:50px;
    -moz-border-radius:50px; 
}
.btn-gray{
    background:#888;    
}

/*****************************************************

  ヘッダー

*****************************************************/

/* 作業効率を上げるため、上段メニュー管理の中に置いてます */

/*****************************************************

  トップスライダー

*****************************************************/

/* bxSliderの初期スタイルを上書きします */

.index-slider .bx-wrapper{
    margin-bottom:0; 
}
.index-slider .bx-wrapper img{
	min-width: 100%;
}
.index-slider .bx-pager{
  bottom: 30px !important;
}
.index-slider .bx-pager-link.active {
  background: #E60013 !important;
}

/*****************************************************

    common

*****************************************************/

.item-list img,
.category-list img{
	max-width: 100%;
}
.item-list a,
.category-list a{
	font-size:18px;
	display:block;
	width:240px;
	margin:0 auto;
	overflow:hidden;
    border-radius:5px; 
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}
.item-list .woong a,
.item-list .rank-name a{
	margin-top:16px;
}
.item-list .category-list-img .soldout,
.category-list .category-list-img .soldout,
.category-list .innerBox .imgWrap .soldout{
	position: absolute;
	top: 10px;
	left: 40px;
	display: block;
	font-size: 13px;
	color: #fff;
	background-color: #999;
	opacity: 1;
	padding: 4px 8px;
    border-radius:5px; 
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}
.item-list .category-list-img,
.category-list .category-list-img,
.category-list .innerBox .imgWrap{
	position: relative;
}
.item-list .category-list-img a,
.category-list .category-list-img a{
	margin:0 auto;
}
.category-list .name{
	margin-top:16px;
}
.index-rank.item-list a,
.index-rank.category-list a{
	width:180px;
	overflow:hidden;
    border-radius:5px; 
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}
#makebanner td[width="150"],#makebanner td[width="10"]{
    display:none;   
}
#makebanner td[width="640"],#makebanner td[width="640"] table{
    width:100%; 
}
#makebanner img[src$="helptitle.gif"],#makebanner img[src$="companytitle.gif"],#makebanner img[src$="baskettitle.gif"]{
    display:none;   
}
.inner-contents{
    width:60%;
    margin:0 auto;
}
.main-contents{
	max-width:1200px ;
    margin-top:32px;   
}
.main-contents#basket,
.main-contents#guide{
    margin-top:24px;   
}
.main-contents#guide{
    margin: 24px 0 80px;
}
.item-list .lims a img:hover,
.item-list .category-list-img img:hover,
.item-list .rank-img a img:hover{
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -o-transform:scale(1.2);
    transform:scale(1.2);
    -webkit-transition:0.3s ease-in-out;
    -moz-transition:0.3s ease-in-out;
    -o-transition:0.3s ease-in-out;
    transition:0.3s ease-in-out;
}
.item-list .lims table tr:nth-child(2) td a,
.item-list .rank-list .rank-name a,
.item-list .category-list-detail .name a,
#search #r_searchList .name a{
    color:#333;
    font-size:16px;
    width:90%;
    display:inline-block;
}
.item-list .lims table tr.woong:last-child td,
.item-list .rank-list .rank-price,
.item-list .category-list-detail .price,
#search #r_searchList .price,
.index-recommend .lims table tr:nth-child(3) td{
    color:#006438;
    font-size:14px;
	padding:5px;
}

/*****************************************************

    index

*****************************************************/

.main-contents h2{
    text-align:center;
    margin:48px auto;   
    font-size:28px;
    font-weight: bold;
}

.main-contents#index h2{
    position:relative;
}
.main-contents#index h2:after{
    content:"";
    display:block;
    width:80px;
    height:2px;
    background-color:#E60013;
    position:absolute;
    top:60px;
    left:-50%;
    right: -50%;
    margin: 0 auto;
}

.main-contents#basket h2,
.main-contents#guide h2{
    text-align:center;
    margin:24px auto 48px;   
    font-size:28px;
}
.main-contents#guide h2{
    text-align:center;
    margin:24px auto 48px;   
    font-size:28px;
}
.section{
    overflow:hidden;    
}
.section table{
    width:100%; 
}
.index-news{
    text-align:center; 
	margin-bottom:40px;
}
.index-news table table td{
    padding:6px;
}
.index-news table table td a{
	font-size:16px;
	color:#333;
}
.index-news table table td:first-child{
	font-size:16px;
    text-align:right;
    width:35%;
	color:#333;
}
.index-news table table td:last-child{
    text-align:left;
}
.index-recommend h2,
.index-new h2{
	margin: 48px auto 64px;
}
.index-recent #recent td.itemBox{
    width:25%;
}
.index-recent .line{
    display:none;   
}
.index-rank ul{
	display:flex;
	align-items:baseline;
	justify-content:space-evenly;
}
.index-rank li{
    width:20%;
    padding:16px 0;
    position:relative;
}
.index-rank li:nth-child(n + 6){
	display:none;
}
#index .item-list{
	margin-bottom: 40px;
}
.index-recommend .lims table tr.woong:nth-child(4) td a{
	font-size: 14px;
	margin-top: 0;
  color: #999;
}
.index-recommend .lims table tr.woong:nth-child(4) td a b{
  font-weight: normal;
}
.rank-number{
    position:absolute;
    left:20px;
    top:0;
    background:#429C80;
    color:#fff;
    line-height:40px;
    width:40px;
    height:40px;
    border-radius:50%; 
    -webkit-border-radius:50%;
    -moz-border-radius:50%; 
    font-weight:bold;   
    z-index:1;
    font-size:17px;
}
.rank-img img{
    width:auto;
}



.index-intro {
    margin: 40px 0;
}
.index-about p {
    color: #E60013;
    font-size: 22px;
    font-weight: bold;
}
.index-about span {
    display: inline;
    padding: 0 3px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #ff0));
    background: linear-gradient(transparent 50%, #ff0 50%);
}
.index-about p+p {
    margin-top: 15px;
    color: #666;
    font-size: 11px;
    font-weight: normal;
}
.index-about p+p a {
    color: #666;
    text-decoration: underline;
}
.index-about p+p a:hover {
    text-decoration: none;
}
.index-kodawari {
    background: #F3C5C7;
    margin-top: 80px;
    padding: 80px;
}
.index-kodawari h2 {
    text-align: center;
}
.index-kodawari p {
    margin: 20px 0 40px;
    font-size: 18px;
    line-height: 2.0;
}
.index-btn {
    max-width: 350px;
    margin: 0 auto;
    padding-top: 40px;
}
.index-btn a.btn-red {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    position: relative;
    background: #E60013;
    border: 1px solid #E60013;
    box-sizing: border-box;
    padding: 0 25px 0 40px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 1.3;
    text-align: left;
    text-decoration: none;
    transition-duration: 0.3s;
}
.index-btn a.btn-red:before {
    content: '';
    width: 8px;
    height: 8px;
    border: 0;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    left: 25px;
    margin-top: -6px;
}
.index-btn a.btn-red:hover {
    opacity: 0.7;
}



.index-column-box {
    margin-bottom: 20px;
}
.index-column h3 {
    font-size: 20px;
    text-align: center;
    position: relative;
}
.index-column h3:after{
    content:"";
    display:block;
    width:100%;
    height:1px;
    background-color:#999;
    position:absolute;
    top:50px;
    left:-50%;
    right: -50%;
    margin: 0 auto;
}




/*****************************************************

    category

*****************************************************/

.main-contents#category h2{
	color:#333;
    font-size:28px;
}
.list-sort{
    text-align:center;  
    margin:8px 0 32px;
}
.list-sort li{
    display:inline;
    margin:0 4px;   
}
.category-list{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.category-list li{
    width:25%;
    text-align:center;
	margin-bottom: 32px;
}
.sub-category{
	display:none;
}
.sub-category table{
    margin-bottom:32px; 
    border-top:1px solid #000;
    border-bottom:1px solid #000;   
}
.sub-category table td{
    padding:8px 0;
}
.sub-category table table{
    border:none;
    margin-bottom:0;
}
.sub-category table td td{
    paddnig:0;
}
.sub-category .line,.item-list .line{
    display:none;   
}
.matomegai{
    display:inline-block;
    margin-top:4px;
}
.matomegai a{ 
    border:1px solid #54B3DE;
    padding:2px 5px;
    font-size:11px;
    display:inline-block;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#54B3DE;
}
.matomegai a:hover{
    background:#54B3DE;
    color:#fff;
}
/* pager */
#category ul.M_pager,
#search ul.M_pager{
	display:flex;
	justify-content:center;
	margin: 24px 0 80px;
}
#category ul.M_pager li,
#search ul.M_pager li{
	margin-right:8px;
}
#category ul.M_pager li a,
#category ul.M_pager li.active,
#search ul.M_pager li a,
#search ul.M_pager li.active{
    display:block;
    width:40px;
    height:40px;
    border-radius:50%; 
    -webkit-border-radius:50%;
    -moz-border-radius:50%; 
    padding:8px 0;
    border:none;
    background:#d9ebe6;
    color:#429c80;
    font-size:14px;
	box-sizing:border-box;
    -webkit-transition:0.3s ease-in-out;
    -moz-transition:0.3s ease-in-out;
    -o-transition:0.3s ease-in-out;
    transition:0.3s ease-in-out;
}
#category ul.M_pager li.active,
#category ul.M_pager li a:hover,
#search ul.M_pager li.active,
#search ul.M_pager li a:hover{
    background:#006438;    
    color:#fff;
    -webkit-transition:0.3s ease-in-out;
    -moz-transition:0.3s ease-in-out;
    -o-transition:0.3s ease-in-out;
    transition:0.3s ease-in-out;
}
#category ul.M_pager li.prev a,
#category ul.M_pager li.next a,
#search ul.M_pager li.prev a,
#search ul.M_pager li.next a{
    background:none;
    width:auto;
    height:auto;
    border-radius:0; 
    -webkit-border-radius:0;
    -moz-border-radius:0;
    color:#333;
}
#category ul.M_pager li.prev a:hover,
#category ul.M_pager li.next a:hover,
#search ul.M_pager li.prev a:hover,
#search ul.M_pager li.next a:hover{
    color:#888;
    text-decoration:none;   
}
#category ul.M_pager li.next,
#search ul.M_pager li.next{
	display:none;
}

/*****************************************************

    search

*****************************************************/

.main-contents#search h2{
	color:#333;
    font-size:28px;
}
.search-result{
    margin-bottom:8px;  
    text-align:center;
}
.search-result font{
    color:#333;
}
.item-search{
    border:1px solid #ccc;  
    background:#eee;
    border-radius:5px; 
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    padding:16px;
    margin-bottom:32px;
}
.item-search td{
    padding:8px;    
}
.item-search .btn-search{
    padding:4px 16px;   
}
#r_searchList{
	margin: 48px 0 40px;
}


/*****************************************************

    detail

*****************************************************/

#detail h2{
    text-align:left;
    margin-top:16px;    
}
#detail .saleBox .sale{
	padding:12px;
	background-color:#EEE;
	text-align:center;
	margin-bottom:32px;
}
#detail .saleBox .sale .sale-dcday{
    font-weight:bold;
}
#M_topicPathWrap{
    margin:0 0 16px 16px; 
}
.item-wrap{
    margin-bottom:40px;
}
.item-wrap-top{
    display:flex;
    justify-content:space-between;
}
.item-img{
	width:600px;
    box-sizing:border-box;
	margin:0 auto;
z-index: 1;
position: relative;
}
.M_imageMainWrap .bx-wrapper .bx-viewport{
    box-shadow:none;
}
#detail .M_imageMainWrap .bx-wrapper{
	margin:0 auto 16px;
}
/* IE11用ハック */
@media all and (-ms-high-contrast:none){
	.M_imageMainList{
		align-items:stretch;
	}
}
.M_imageMainList{
    height:100%;
    display:flex;
}
.M_imageMainList-item{
    height:auto;
	width:600px !important;
	overflow: hidden;
	display:none;
}
.M_imageThumbnail{
    text-align:left;
}
.M_imageThumbnail-item{
    display:inline-block;
	margin-bottom:12px;
}
.M_imageThumbnail-item:not(:nth-child(6n)){
	margin-right:12px;
}
.M_imageThumbnail-item a{
    display:block;
    border:3px solid #fff;
}
.M_imageThumbnail-item .active{
    border:3px solid #006438;
}
.item-img .M_imageThumbnail-item img{
    width:80px;
    height:auto;
}
.item-img .M_imageCatalog img,
.item-img .M_imageThumbnail-item img{
    max-width:80px;
    max-height:80px;
}
.item-detail{
	text-align:left;
	margin:0 auto;
	padding-left:16px;
	max-width:48%;
	box-sizing:border-box;
}
.item-detail h2{
	margin-bottom:24px;
	color:#000;
}
.item-detail-text,
.item-detail-addtext{
	position:relative;
    text-align:left;
}
.item-detail-point{
	color:#333;
	font-weight:normal;
	font-size:16px;
}
.item-detail-addtext{
	margin:64px 0 0;
}

.item-detail-addtext:before{
	content:"";
	position:absolute;
	width:60px;
	height:6px;
    background-color:#006438;
	border-radius:5px;
    top:-35px;
}
.item-detail-info{
    margin-top:24px;    
}
#M_usualValue td,.item-detail-info td{
    font-size:18px!important;   
    width:auto; 
}
#M_usualValue td{
    padding-bottom:8px; 
}
#M_usualValue font{
    color:#333; 
}
.item-detail .price .saleRate{
    border:solid 1px #EF596F;
    color:#EF596F;
    font-weight:bold;
    margin-left:8px;
    padding:4px;
}
.item-detail .item-detail-price,
.item-detail .item-detail-price #M_price1,
.item-detail .item-detail-price #M_price2,
.item-detail .icon-yen,
.item-detail .member-price #M_member_price{
    font-family:'Muli', Arial, Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", sans-serif;
    font-size:28px;   
	color:#006438;
	font-weight:bold;
	text-align:left;
}
.item-detail-mprice{
	margin-top: 15px;
}
.item-detail-mprice #M_memberValue .M_member_price_in, #M_memberValue .M_member_price_ex{
	font-size: 28px;
	font-weight: bold;
	color: #EF596F;
	text-align: left;
}
.item-detail-mprice .member-price span,
.item-detail-mprice .member-price input{
	vertical-align: middle;
	line-height: 1.3;
}
.item-detail-mprice .member-price .member-price-title{
    background-color: #EF596F;
    padding: 5px;
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;
}
.item-detail-info table table td:first-child{
    width:3em;  
}
.item-detail-info font{
    color:#D42222;  
}
.item-detail-info select{
    margin:8px 0;
    padding:4px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", sans-serif;
    border:1px solid #ccc;
    font-size:16px; 
}
input[name="amount"],
input[name="brand_name_option_amount"]{
    padding:4px 6px;
    width:60px; 
    border:1px solid #ccc;
    font-size:18px;
}
img[src$="basket_up.gif"],img[src$="basket_down.gif"]{
    display:none;   
}
.item-detail-option .M_inventory{
	margin-top:24px;
}
.item-detail-option .M_option-group{
    padding-top:32px;
}
.item-detail-option .M_inventory p.stockTitle span.hosoku{
	font-size: 16px;
    color: #666;
}
.M_inventory *{
    font-size:15px;   
}
.M_inventory p.stockTitle{
    display:block;
    line-height:2.5;
    font-size:16px;
    font-weight:bold;
    color:#999;    
}
.M_inventory table.stockList th{
	color:#333;
}
.M_inventory table.stockList th, .M_inventory table.stockList td{
	padding:6px !important;
}
.M_inventory span[class^="M_select-option"]{
	display:block;
	margin-top:4px;
}
.M_inventory .M_select-option-soldout,
.M_inventory .M_select-option-smallstock{
	color:#D42222;
}
.M_inventory .M_select-option-soldout{
	margin-bottom:4px;
}
.M_select-option-restock-btn:link,
.M_select-option-restock-btn:active,
.M_select-option-restock-btn:visited{
	display:inline-block;
	padding:0px 12px;
	background:#999;
	color:#fff;
	border-radius:3px;
}
.M_select-option-restock-btn:hover{
	background:#666;
    -webkit-transition:0.3s ease-in-out;
    -moz-transition:0.3s ease-in-out;
    -o-transition:0.3s ease-in-out;
    transition:0.3s ease-in-out;
	text-decoration:none;
}
.item-basket-btn{
    margin:24px 0 16px;
}
.item-basket-btn a{
    width:35%;
    font-size:18px; 
    padding:18px 0;
	text-align:center;
	font-weight:bold;
	min-width:200px;
}
.item-basket-btn .soldout{   
    background:#ddd;
    color:#666!important;   
    width:35%;
    font-size:18px;
    padding:18px 0;
    margin:0 16px 0 0;
	min-width:200px;
    cursor:default;
}
.item-sns li{
    display:inline; 
    vertical-align:middle;
}
.item-sns iframe{
    height:20px!important;  ;
}
.detail-recent h3{
    text-align:center;
    margin:16px auto 64px;  
    font-size:25px;
}
.item-addimg{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	width:100%;
	margin-top:80px;
}
.item-addimg .addimg-content{
	max-width: 30%;
	margin:0 auto 24px;
}
.item-addimg .addimg-content img{
    width: auto;
    max-width: 100%;
}
.item-addimg .addimg-content .addimg-caption{
	margin-top:16px;
	text-align:left;
}
.item-detail-option{
	display:block;
	margin:16px 0;
}
.item-detail-quantity{
	display:block;
	margin:16px 0;
}
.item-detail-quantity .M_item-stock-smallstock{
    font-size:13px;
    color:#EF596F;
    margin-left:8px;
}
.item-detail-quantity .quantity-label{
	display:block;
	margin-bottom:8px;
    font-size:16px;
    font-weight:bold;
    color:#999;
}
.item-detail-quantity .quantity-amount{
	position:relative;
	display:inline-block;
	padding-right:24px;
	margin-right:16px;
}
.item-detail-quantity .quantity-amount .amount-upcount,
.item-detail-quantity .quantity-amount .amount-downcount{
	position:absolute;
}
.item-detail-quantity .quantity-amount .amount-upcount{
    top:8px;
    right:0;
}
.item-detail-quantity .quantity-amount .amount-downcount{
	bottom:8px;
    right:0;
}
.item-detail-option label{
	display:inline-block;
    line-height:2.5;
    font-size:16px;
    font-weight:bold;
    color:#999;
}
.item-detail-option select{
	display:block;
}
.item-detail-option select{
	font-size:16px;
	padding:8px;
	border-radius:5px;
	height:50px;
	display:block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	border:1px solid #ccc;
}
.item-detail-quantity input{
	padding:12px;
	font-size:18px;
	border-radius:5px;
	height:50px;
	text-align:center;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.item-detail-quantity a{
	text-decoration:underline;
}
.item-detail-quantity a:hover{
	text-decoration:none;
}

/*****************************************************

    basket

*****************************************************/

#basket h2{
	color:#333;
    font-size:28px;
}
.basket-wrap{
    margin-bottom:160px;    
}
.basket{
    border-top:1px solid #ccc;  
    margin-bottom:8px;  
}
.basket tr{
    border-bottom:1px solid #ccc;  
}
.basket tr:nth-last-child(-n+2){
    border-bottom:none;  
}
.basket tr:first-child{
    border-bottom:1px solid #ccc;  
}
.basket td.basket-price{
    min-width: 75px;
}
.basket td.basket-point {
    min-width: 60px;
}
.basket th,.basket td{
    padding:8px;
    text-align:center;
}
.basket td table td{
    padding:0;
    border:none;    
}
.basket .basket-img{
	padding:24px 0;
}
.basket .basket-img img{
    width: auto;
    max-width: 120px;
}
.basket .basket-name{
    text-align:left;
}
.basket .basket-matomegai{
    margin-top:4px;
    display:inline-block;
}
.basket .basket-matomegai a{
    border:1px solid #54B3DE;
    padding:2px 5px;
    font-size:11px;
    display:inline-block;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#54B3DE;
}
.basket .basket-matomegai a:hover{
    background:#54B3DE;
    color:#fff;
}
.basket .basket-total{
    text-align:right;
    padding:12px 16px;
    font-size:18px;
}
.basket .basket-total a{
    color:#54b3de;
    text-decoration:underline;
    margin-left:4px;
}
.basket .basket-total a:hover{
    text-decoration:none;
}
.basket .basket-total em{
	font-weight:bold;
	font-size:24px;
	line-height:1.0;
}
.basket .total-wrap{
    width:60%;
    margin:0 0 0 auto;
}
.basket .total-item{
    float:left;
    clear:left;
    width:60%;
    text-align:right;
}
.basket .matomegai-wrap{
    font-size:15px;
    margin-bottom:8px;
}
.btn-small{
    background:#888;
    font-size:13px;
    padding:6px 8px;
    border-radius:3px; 
    -webkit-border-radius:3px;
    -moz-border-radius:3px;     
}
.basket-option{
    margin-top:8px; 
}
.basket-option select {
    max-width: 140px;
    margin-right: 16px;
    border: #CCC solid 1px;
	
    padding: 8px;
    font-size: 14px;
}
.basket-option select:last-child {
    margin-right: 0;
}
.basket_option_mulopt_box{
	margin-left: 0 !important;
}
.quantity-wrap,.quantityWrap{
    display:table;
    margin:0 auto;
}
.basket-quantity{
    width:20px!important;   
    font-size:18px;
}  
.basket-quantity input[name="amount"]{
	border-radius:3px;
	text-align:center;
}
.basket-quantity,.basket-amend{
	min-width: 42px;
}
.basket-quantity,.basket-amend,.quantityInput,.quantityAmend{
    display:table-cell; 
    vertical-align:middle;
    padding:0 2px;
}
.basket-empty{
    margin:56px 0;  
}
.btn-wrap{
	margin-top:24px;
}
.btn-wrap-back{
    float:left; 
}
.btn-wrap-order{
    float:right;    
}
.btn-wrap-back .btn{
    background:#888;    
}
.btn-wrap-back .btn:not(:last-child){
	margin-right:8px;
}
.basket-btn a{
    border-radius:50%;
    padding:11px;
    box-sizing:border-box;
    background-color:#EEE;
}
.basketQunantity{
    display:none;
}
.basket-haisou .carriageWrap{
	text-align: right;
}
/* Amazonボタン */
.amazonButton{
    width:230px;
    margin-left:8px;
}

/*****************************************************

    news

*****************************************************/

#news h2{
	color:#333;
    font-size:28px;
}
.main-contents#news{
	margin-top: -56px;	
}
.main-contents#news h2{
	margin: 0 auto 48px;	
}
.news-head{
    font-size:18px;
    margin-bottom:32px;
    border-bottom:1px solid #ccc;
    padding-bottom:16px;    
}
.news-head .date{
    margin-right:8px;
    font-size:15px; 
}
.news-contents{
    border-bottom:1px solid #ccc;
    text-align:left;    
    padding-bottom:60px;
    line-height:1.7;
    margin-bottom:32px;
}
.news-list table tr:first-child{
    display:none;   
}
.news-list table .lims{
    padding:12px 8px;
    border-bottom:1px solid #ccc;   
}

/*****************************************************

    matomegai

*****************************************************/

#matomegai h2{
    text-align:center;
    margin:48px auto;
    font-size:25px;
}
#matomegai .pankuzu,
#matomegai .icon,
#matomegai .name img,
#matomegai .quantity,
#matomegai .else,
#matomegai .else + p,
#matomegai .content,
#matomegai .btnWrap,
#matomegai .wishlistBtn{
    display:none;
}
#matomegai .listSort{
    text-align:center;
    margin:8px 0 32px;
}
#matomegai .listSort li{
    display:inline;
    margin:0 4px;
}
#matomegai .innerList li{
    width:25%;
    float:left;
    text-align:center;
}
#matomegai .innerBox{
    padding:16px;
}
#matomegai .imgWrap img{
    margin-bottom:16px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}
#matomegai .innerBox a{
    font-size:18px;
}
/* pager */
#matomegai ul.M_pager li a,
#matomegai ul.M_pager li.active{
    display:inline-block;
    width:28px;
    height:28px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    padding:0;
    border:none;
    background:#D9D9D9;
    line-height:28px;
    color:#999;
    font-size:14px;
    margin:0 3px;
}
#matomegai ul.M_pager li.active,
#matomegai ul.M_pager li a:hover{
    background:#000;
    color:#fff;
}
#matomegai ul.M_pager li.prev a,
#matomegai ul.M_pager li.next a{
    background:none;
    width:auto;
    height:auto;
    border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    color:#333;
}
#matomegai ul.M_pager li.prev a:hover,
#matomegai ul.M_pager li.next a:hover{
    color:#888;
    text-decoration:none;
}

/*****************************************************

    about

*****************************************************/

.main-contents#about{
    margin-top: -130px;
}

.main-contents#about h2{
	color:#333;
    font-size:28px;
}

/*****************************************************

    guide

*****************************************************/

.main-contents#guide .M_guideContent{
    margin: 0 auto;
}
.main-contents#guide h2{
	color:#333;
    font-size:28px;
}
.main-contents#guide .M_guideContent p{
	color: #333;
}
.main-contents#guide .M_txtTitle{
	margin: 0 auto 64px;
	padding-top: 96px;
}
.main-contents#guide .M_txtTitle::before{
	top: 140px;	
}
.main-contents#guide .M_txtTitle::after{
	top: 144px;	
}
.main-contents#guide .M_guideNav{
	margin-bottom: 0;
}
.main-contents#guide .M_guideNav li a{
	color: #FFF;
	background-color: #006438;
    -webkit-transition:0.3s ease-in-out;
    -moz-transition:0.3s ease-in-out;
    -o-transition:0.3s ease-in-out;
    transition:0.3s ease-in-out;
}
.main-contents#guide .M_guideNav li a:hover{
	background: #666;
	text-decoration: none;
    -webkit-transition:0.3s ease-in-out;
    -moz-transition:0.3s ease-in-out;
    -o-transition:0.3s ease-in-out;
    transition:0.3s ease-in-out;
}